

.shiny-notification-message {
  color: #fff !important;
  background-color: #5cb85c !important;
  border: 1px solid #5cb85c !important;
}

#shiny-notification-panel {
  width: 350px !important;
  text-align: center !important;
}
